

       <ul class="c_pages">
            <li>
                 <div class="c_picts" >
                      <a href="../inner/p1/p1-1/index1.html">
                          <img src="../img/p1/p1.jpg">
                          <span class="c_pmask"></span>
                      </a>

                 </div>
                 <div class="c_contents">
                     <h1><a href="../inner/p1/p1-1/index1.html">圆明园四十景图咏</a></h1>
                     <p>《圆明园四十景图咏》是根据乾隆皇帝的旨意，于乾隆九年（1744）由宫廷画师唐岱等绘制而成的40幅分景图。
                          各幅分别附有工部尚书汪由敦所书乾隆《四十景对题诗》，字体一律为大臣奏章所用的宫廷馆阁体。此本为1860年，
                          英法联军火烧圆明园掠走，现藏于法国国家图书馆。
                     </p>
                     <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
                </div>

            </li>
            <li>
                <div class="c_picts">
                    <a href="../inner/p1/p1-1/index1.html">
                        <img src="../img/p1/p2.jpg">
                        <span class="c_pmask"></span>
                    </a>
                </div>
                <div class="c_contents">
                    <h1><a href="../inner/p1/p1-1/index1.html">聚珍画谱</a></h1>
                    <p>此本《聚珍画谱》共分上中下册，日本著名历史画家狩野探幽摹绘，狩野应信编辑而成。其内有彩色木版图108幅，
                        绘画内容有花鸟、植物、佛像、人物、山水等。此本为明治27年（1894）刊本。
                    </p>
                    <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
                </div>
            </li>
            <li>
                <div class="c_picts">
                    <a href="../inner/p1/p1-1/index1.html">
                        <img src="../img/p1/p3.jpg">
                        <span class="c_pmask"></span>
                    </a>
                </div>
                <div class="c_contents">
                    <h1><a href="../inner/p1/p1-1/index1.html">菩提叶画十八罗汉图</a></h1>
                    <p>此套以菩提叶为素材媒介创作的画册《菩提叶画十八罗汉图》，是将菩提叶特殊处理后，再平铺在蓝色底纸上作画，
                        多彩的画面和谐地与树叶的肌理自然美融为一体。此套含十八帧，约绘制于17到18世纪西藏地区，
                        现藏于美国大都会艺术博物馆。。
                    </p>
                    <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
                </div>
            </li>
            <li>
                <div class="c_picts">
                    <a href="../inner/p1/p1-1/index1.html">
                        <img src="../img/p1/p4.jpg">
                        <span class="c_pmask"></span>
                    </a>
                </div>
                <div class="c_contents">
                    <h1><a href="../inner/p1/p1-1/index1.html">西藏造像量度</a></h1>
                    <p>此本18世纪的佚题绘图画本，其内容大致与造像量度经中绘图内容类似。
                        所谓“造像量度”就是佛像人体的比例和造像的尺度。此本可能是18世纪西藏或尼泊尔地区的佛像绘制参考指南
                        ，其中包含36幅详细绘图，文字注解为尼瓦族文字或藏文。
                    </p>
                    <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
                </div>
            </li>
            <li>
                <div class="c_picts">
                    <a href="../inner/p1/p1-1/index1.html">
                        <img src="../img/p1/p5.jpg">
                        <span class="c_pmask"></span>
                    </a>
                </div>
                <div class="c_contents">
                    <h1><a href="../inner/p1/p1-1/index1.html">东印度公司使节团访华纪实</a></h1>
                    <p>1655年（清顺治12年）尼霍夫（Jean Nieuhoff）随荷兰东印度公司使节团到中国访问。
                        他将从澳门经过广州、虎门、黄埔、杭州、南京、九江、芜湖、扬州、通州、天津到北京所见所闻记录下来，
                        回国后编成此书。书中大量篇幅及版画详细介绍17世纪清帝国的历史地理、文化风景、建筑习俗、礼仪服饰等。
                        此法文本为1665年出版。
                    </p>
                    <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
                </div>
            </li>
            <li>
                <div class="c_picts">
                    <a href="../inner/p1/p1-1/index1.html">
                        <img src="../img/p1/p6.jpg">
                        <span class="c_pmask"></span>
                    </a>
                </div>
                <div class="c_contents">
                    <h1><a href="../inner/p1/p1-1/index1.html">穆默的摄影日记</a></h1>
                    <p>此本《穆默的摄影日记 / Ein Tagebuch in Bildern》是庚子时期德国驻华大使Alfons von Mumm
                        （阿尔方斯·冯·穆默）在华一年多时间（1900年）拍摄的。书中包含六百多幅记录中国地理风俗和反映中国近代
                        史的照片。此本大约出版于1902年，现藏于德国柏林国家图书馆。
                    </p>
                    <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
                </div>
            </li>
       </ul>



