<ul class="c_pages">
    <li>
        <div class="c_picts" >
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p4/p1.jpg">
                <span class="c_pmask"></span>
            </a>

        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">经训堂法书</a></h1>
            <p>《经训堂法书》十二卷，收录晋王羲之《黄庭内景经》、唐虞世南《汝南公主墓志》、
                唐玄宗《鹡鸰颂》、怀素《小草千字文》、宋蔡襄《赴京诗稿》、苏轼《阳羡帖》、
                黄庭坚《怀人五绝》、米芾《与乐兄同官书》及元明以来赵孟頫、鲜于枢、康里巙巙、
                邓文原、唐寅、祝允明、文徵明等名家墨迹，皆为书法史上的赫赫名品。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p4/p2.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">支那文化史迹</a></h1>
            <p>这套书是由日本古建筑学家及专门研究中国佛教的学者常盘大定和他的朋友日本建筑史家、
                东大教授关野贞合作编辑的，收图2000余幅，是一部以图为主全面系统地介绍中国建筑、
                宗教、艺术等具有代表性的文化史迹专著。常盘大定(1870-1945)，毕生研究汉传佛教，
                1920年以后五次来华，研究敦煌、云冈、龙门诸石窟及房山石经等佛教史迹。
                还著有《支那佛教史迹》等。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p4/p3.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">鹦鹉图册</a></h1>
            <p>这是一套由英国艺术家、诗人Lear Edward亲自绘制印刷出版的《Illustrations of the family of Psittacidae
                or parrots》鹦鹉画册，此本大约出版于1832 年。值得一提的是完成此本的绘制，
                他才仅仅二十岁，这本画册的绘制非常精美。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p4/p4.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">埃及自然史板画</a></h1>
            <p>1798年，拿破仑入侵埃及时，他还带领着一支由160多名学者和科学家组成的随军团。
                该随军团被称为“研究埃及科学和艺术的法国考察团”，他们对埃及的考古、地形和自然历史都进行了广泛的研究。
                Jean François Champollion便是这些考察人员中的一名，他使用著名的罗塞塔石碑解开了关于古埃及语言长期存
                在的许多谜团。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p4/p5.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">中国纹样图锦</a></h1>
            <p>这本《Examples of Chinese ornament》大约出版于1867年，是英国当时先锋建筑家与设计师Owen Jones根据历史
                上的The South Kensington museum / 南肯辛顿博物馆(现为：英国自然史博物馆）的部中国收藏品和部分其它中国古
                董上的图案绘制而成。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p4/p6.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">百鸟异兽图</a></h1>
            <p>这本《博物馆图谱.百鸟.异兽类》大约是1878年（明治11年）日本帝室博物馆编的一本博物图谱；
                图谱前半部分描绘了多种珍稀鸟类，甚至还有很多国外品种。后半部分是一些兽类和传说中的异兽，
                卷末甚至还有一幅龙的画。整体画法上以东方画法为主，也有一些西洋画法。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
</ul>