<ul class="c_pages">
    <li>
        <div class="c_picts" >
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p6/p1.jpg">
                <span class="c_pmask"></span>
            </a>

        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">鸟类学版画</a></h1>
            <p>这里展示的是一套不完整的对开页版本，包含174张插图，蚀刻版画，手工水彩彩绘。
                每张版画有着包含鸟的法语俗名及附加文字的标题。 这本书印刷在优质蓝色棉纸上，
                柔化了对比给人创造出蓝天在鸟儿背后的效果。 阿丁内特大多数将鸟放置于树枝上或岩石上或长满绿草的山丘上，
                但几张最吸引人的版画包括了更完整的背景处理和鸟儿的自然环境。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>

    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p6/p2.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">真草千字文.赵孟頫</a></h1>
            <p>赵孟頫《真草千字文卷》在历代皆被认为是真草初学者最好的典范，
                作品书写端庄严谨，用笔极其温润圆劲，点画精到细腻，结字妍美简静。
                《千字文》是我国古代启蒙读物，由梁代周兴嗣编成。它总计千言，每四字一句，
                易读易记，无一字重复，且包含天文、地理、伦理、历史等诸多方面，内容广泛，因而流传久远。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p6/p3.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">外国珍禽异鸟图.卷</a></h1>
            <p>这卷大约1832年的日本写本长卷《外国珍禽异鸟图》，里面描绘了东南亚，甚至非洲、拉丁美洲的一些动物；
                这些动物可能是随着荷兰航海和殖民的时候带到世界各地；当时日本一些贵族家观赏饲养的宠物。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p6/p4.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">明妃曲.文徴明書</a></h1>
            <p>文徵明多次书写《明妃曲》，当然王安石《明妃曲》是咏昭君最好的诗；
                文徴明这首《明妃曲》也表达了昭君的无可奈何的遗恨，
                自己处处愿意“为汉家死”，但终不见用。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p6/p5.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">明朝紫砚</a></h1>
            <p>1746年刊印大岡春ト编《明朝紫砚》又名《明朝生动画园》是日本最早的彩色画谱，
                分为上下两册，这套画集参考了中国的《芥子园画谱》。此版刻有明文徵明、东郭、孙克弘、戴文进、
                丁玉川、　朱铨、文衡、王维烈等画五十九图。
                1813年京都菱屋孫兵衛购买了木刻板添加了一卷后变成三卷三册后重新刊印出版。新的版本去除原版画上的印章。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p6/p6.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">赵孟頫楷书九十二法</a></h1>
            <p>《赵孟頫楷书九十二法》对赵孟頫楷书中的文字排序进行了整合，以学习毛笔字的技法为宗旨，
                按基本笔画、偏旁部首、结构布势为序，由浅入深地练习，每一笔均有运笔图解和技法指导。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
</ul>