<ul class="c_pages">
    <li>
        <div class="c_picts" >
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p2/p1.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">中国服饰</a></h1>
            <p>这是1800年伦敦出版George Henry Mason 编著的《The costume of China / 中国服饰》有60幅非常精美的彩色插图。
                插图采用了西式透视、明暗、投影等技法，写实特征浓厚，又融入中国的白描手法，自有一种独特的东方趣味。
                描绘的主题是清代中国社会各种行业人物以和他们的服装及妆饰。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p2/p2.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">苦瓜和尚书画册</a></h1>
            <p>此画册《苦瓜和尚书画册》为清代画家石涛绘，共12幅，一图一诗。旧藏日本大收藏家桑名铁城，
                书名页 “石涛道人书画神品”为日本著名画家富冈铁斋题，现藏于美国大都会美博物馆。
                这些书画大约书绘于1695年。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p2/p3.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">谟区查抄本</a></h1>
            <p>《谟区查抄本》（Boxer Codex）是一份绘制于1590年的插图手稿 ，
                其中包含了西班牙人最初接触菲律宾群岛、印度、中国时所见的当地居民。
                除了描述历史典故，该手稿还包含了当地居民和他们独特的服饰彩绘75幅 ，
                因而是了解早期东南亚风俗历史的重要史料。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p2/p4.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">诗经名物图解</a></h1>
            <p>《诗经名物图解》是日本江户时代的儒学者細井徇/細井東陽撰绘的一套博物学书，
                其主要内容为《诗经》辅配百余幅精美古画。分为10个画册贴：三册草部，两册木部，两册禽部，
                一册兽部，一册鳞部，一册虫部。此本大约绘制出版于嘉永元年（1848）。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p2/p5.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">五百罗汉像赞</a></h1>
            <p>湖南衡阳祝圣寺罗汉堂原有五百罗汉雕像，全部用青石镌刻，嵌在左右墙壁上，
                是南岳文化宝库中的一颗明珠。可惜在十年动乱中，罗汉大部分被毁，
                现仅存五百罗汉像拓本。此本为清末拓本。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index2.html">
                <img src="../img/p2/p6.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index2.html">海仙十八描法，小田海仙画</a></h1>
            <p>《海仙画谱》是日本江户幕府末期的文人画家小田海仙所画，又称《海仙十八描法》，
                内容乃十八罗汉图，图中众罗汉衣纹各别，小田用了枣核描，钉头描，鼠尾描等种种技法来表现。
            </p>
            <span><a href="../inner/p1/p1-1/index2.html">「全文+」</a></span>
        </div>
    </li>
</ul>