<ul class="c_pages">
    <li>
        <div class="c_picts" >
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p3/p1.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">千甓亭古砖图释</a></h1>
            <p>《千甓亭古砖图释》二十卷，清陆心源著。此书为陆心源倾尽大半生心血收藏的汉魏至唐宋元各代古砖千余方，
                均出自湖州乌程、武康、长兴各县的古墓。并专门建千甓亭贮之。本书名即来源于此。
                砖铭拓片纹样别致、字迹奇异，保留着许多古代纪元、地理、官制、姓氏等资料。
                每间砖旁有陆心源的批注和考证资料。本书对于研究金石考古学和书画艺术具有很高的参考价值。
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>

    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p3/p2.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">郃阳令曹全碑</a></h1>
            <p>曹全碑，全称郃阳令曹全碑，又稱曹景完碑，刻于东汉灵帝中平二年（185年），
                碑阳20行，每行45字，碑阴5列，内容为记述曹全（字景完）的功业。
                明万历初年（1573年）出土于陕西郃阳县。清康熙壬子（1672年）后断裂缺字
                ，于1956年移立西安碑林博物馆。此碑在汉隶碑刻中属尚阴柔一类的代表作品。。
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p3/p3.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">占景盘图氏</a></h1>
            <p>占景盘，在我国原为插花器皿，《清异录》载，“郭江州有巧思，多创物，见遗占景盘，铜为之，花唇平底，
                深四寸许，底上出细筒殆数十，每用时，满添清水，择繁花插筒中”。
                在日本,则为一种沙盘景物,摆放景石,栽种小型花草,盘盘面覆砂,浇一水后形成自然山水景色。
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p3/p4.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">百花鸟图</a></h1>
            <p>此图谱大约是康熙时开始编撰，直到雍正时期完成。余曾三作画，张廷玉为每幅做诗。
                画面工笔精美，诗文小楷非常秀丽。作者余省，字曾三，号鲁亭，江苏常熟人。
                擅画花鸟虫鱼，尤擅画蝴蝶。师从宫廷画家蒋廷锡，亦供奉内廷，得院体情致，
                并融入西法，色彩及光暗关系。
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p3/p5.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">智利自然历史板画</a></h1>
            <p>1828 年法国人Claudio Gay到智利从事教学工作并参与科学考察。
                回国后，Gay于1842 年开始出版这套书，他的蚀刻板画中有当地印第安人、风光、名人和未知植物物种的画面。
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p3/p6.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">御题棉花图</a></h1>
            <p>这本书是方观承的画作集，堪称图文并茂。 书中文字与方观承回忆录（有关棉花业）中的文字一致，
                仅插图略有不同。 第一卷收有八幅图画（从”种植”到”轧花”）；
                第二卷也收有八幅图画（从”弹棉花”到”漂染”）
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>
    </li>
</ul>