<ul class="c_pages">
    <li>
        <div class="c_picts" >
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p5/p1.jpg">
                <span class="c_pmask"></span>
            </a>

        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">预言基督的女先知插图22幅</a></h1>
            <p>这部名为Sibyllae et prophetae de Christo Salvatore vaticinantes《预言基督救世主的女预言家和先知》
                的手稿可能是法国图尔市启蒙思想家让.普瓦耶/Jean Poyer(约 1445–1504 年)工作坊的作品。
                女预言家是来自古代世界的女性先知，她们预言了基督的诞生。
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>

    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p5/p2.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">泰语诗歌插画</a></h1>
            <p>这部著名的泰语手稿收录的是创作了19世纪下半叶的诗歌，作者不详，它们有一个共同的主题：
                失去心爱的女人。手稿的制作极其精细，代表结合泰语、诗歌和艺术之作的最高境界。
                诗人赞美了心爱女人的美丽并表达了对其逝去的哀痛，每首诗歌本身就是一件艺术品。
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p5/p3.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">帕伦克的贝勃罗印第安人</a></h1>
            <p>1787年，西班牙国王查理三世下令危地马拉总督对遗址进行发掘，为位于马德里的自然博物馆收集文物。
                总督将该项工作委托给一位名叫安东尼·德里奥的西班牙军官，当年他共花费了五周时间对遗址进行了清理、
                研究、绘图和考察。德里奥的研究报告堪称美洲排名第一的重要科学考古成果。德里奥聘请了一位名叫
                Ricardo Almendáriz 的危地马拉绘图师，这位绘图师绘制了30张壮观的帕伦克遗址水墨图。
                这套由美国国会图书馆收藏的图画是最完整Almendáriz的现代版本图纸。
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p5/p4.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">国史大辞典之附图</a></h1>
            <p>《国史大辞典》为涵盖完整日本史各时期的历史百科辞典，1979年发行第一刊，
                1997年时全书完结。全套「国史大辞典」全15集(17册)，包含5万4000多项词条，
                执笔作者高达3500位，内容涵盖考古、民俗、宗教、美术、国语学、国文学、地理等，
                为日本史教学与研究的重要资源。
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p5/p5.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">心经行书册</a></h1>
            <p>赵孟頫《心经》册页装，3开。第1开前1开,是白描观音大士像。第3开后第1开.是白描韦陀像，
                后面第2—3开是明王稚登、清张英、张照、励宗万等人跋和原梁清标题签。每单开纵288厘米,横108厘米。
                此册原为清张若蔼旧藏，有“炼雪鉴定”、“晴岚居士”等印。乾隆时入清宫，有乾隆、嘉庆、宣统内府藏印。
                《心经》原为手卷,入清宫后改为册页，并加装檀香木雕花夹板。
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>
    </li>
    <li>
        <div class="c_picts">
            <a href="../inner/p1/p1-1/index1.html">
                <img src="../img/p5/p6.jpg">
                <span class="c_pmask"></span>
            </a>
        </div>
        <div class="c_contents">
            <h1><a href="../inner/p1/p1-1/index1.html">问经堂帖</a></h1>
            <p>钱泳在《履园丛话》中对《问经堂帖》一段描述：二十年乙亥，自刻《写经堂帖》，
                起于钟、王，终于松雪，凡八卷。是年秋八月，为韩城师禹门太守刻《秦邮帖》四卷，
                皆取苏东坡、黄山谷、米元章、秦少游诸公书，而殿以松雪、华亭二家。时太守正摄篆秦邮。
                是年，萧山施秋水少府曾以余所临汉、魏隶书大小数十种刻成四卷，曰《问经堂帖》
            </p>
            <span><a href="../inner/p1/p1-1/index1.html">「全文+」</a></span>
        </div>
    </li>
</ul>